/*
  palette
  61b15a - bright green
  adce74 - light bright green
  fff76a - bright yellow
  ffce89 - brown yellow
*/

.App {
  text-align: center;
  background-color: #faeae8;
  min-height: 100vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1,h2,h4 {
  color: #1c1918;
}

.main {
  min-height: 100vh;
}

.panel {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 5px;
	background: white;
	padding: 2%;
	width: 90%;
	margin: auto;
  margin-top: auto;
}

.search_menu {
  margin:2px;
  border-radius: 5px;
  background: #e3e3e3;
  padding:2px;
}

.search-image {
  max-width : 200px;
  max-height : 100px;
  width : auto;
  height : auto;

}

.show-select-img {
  margin: 1rem;
  width: 40vh;
  height: 30vh;
}

.image-lg {
  width: 50vh;
  height: 50vh;
}

.add-space {
  margin: 4px;
}

.rating-container {
  display: flex;
}

.rating-container > div {
  padding: 1px;
}

.left-align-cols > div {
  text-align: left;
}

.navbar-custom {
  background-color:#796460;
}

/* .navlinks-custom > a:: {

}



.btn-outline-success {
    color:  #fff76a !important;
    border-color: #fff76a !important;
} */

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff76a !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 248, 106, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 248, 106,.5) !important;
    border-color: rgba(255, 248, 106,.1) !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.error {
  color: #b34436;
}

.page-img {
  width: 100%;
  height: 60vh;
}

iframe {
  width: 100%;
  height: 60vh;
}

section {
  padding: 10%;
}

section:nth-child(odd) {
    background-color: #fff;
}
section:nth-child(even) {
    background-color: #f0e0de;
}

/**************************HERO IMAGE SECTION******************************/

header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(255, 255, 255, 0.9)),to(rgba(255, 255, 255, 0.9))),url("http://localhost:3000/paws.png");
  background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),url("http://localhost:3000/paws.png");
  background-repeat: repeat;
  min-height :88vh;
  overflow: hidden;
  background-color: #f0e0de;
  background-position: center;
  background-attachment: fixed;
}

.logo-image {
  width: 50%;
}



/**********************SECTIONS*********************************************/

/*#about {
  background-color: #fff;
}*/

/**********************vs image********************************************/
.vsimg-small {
  width: 6rem;
  height: 4rem;
}

/**********************footer********************************************/
footer {
  min-height:10vh;
  background-color: #ffce89;
}

/***********************modals******************************************/

.modal-80w {
  min-width:80%;
}


.map-container{
  height: 80vh;
  width: 100%;
}

/**********************cards************************************************/

.card-header{
  background-color: #796460 !important;
  color: #fff;
}

.card {
  width: 50% !important;
  margin: auto;
}

/*
.card-img-top {
  max-height: 340px !important;
}*/

/*
.cat-container {
  display: block;
  margin: auto;
}*/

/**********************calendar************************************************/

.active-day {
  background-color: #f7f3f2;
  border: 1px solid #b8b8b8;
  min-height: 80px;
}

.inactive-day {
  background-color: #e6e6e6;
  border: 1px solid #b8b8b8;
  min-height: 80px;
}

.passed-day {
  background: repeating-linear-gradient(
    45deg,
      #e6e6e6,
      #e6e6e6 10px,
      #b8b8b8 10px,
      #b8b8b8 20px
  );
  border: 1px solid #b8b8b8;
  /*background-color: #b8b8b8;*/
  min-height: 80px;

}

.day-number {
  display: block;
  font-size: 120%;
}

.day-availability {
  display: block;
}

.passed-day {

}

.cal-skip-btn {
  height: 100%;
}

.cal-skip-btn,
.book-btn {
  font: inherit;
  border: 1px solid #8a7d5b;
  background: #ebd7a0;
  padding: 0.5rem 1rem;
  color: #5e5b54;
  font-size: 80%;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  text-decoration: none;
}

.book-btn:hover,
.book-btn:active {
  background: #f2dda2;
  border-color: #8a7d5b;
  box-shadow: 1px 1px 8px rgba(77, 51, 51, 0.26);
}


/**********************Media Queries************************************************/


@media only screen and (max-width: 767px) {
  .card {
    width: 100% !important;
    margin: auto;
  }

}
